body{

    background-color: aquamarine;
}

h1{
    text-align: center;
}

nav > a{
    color: black;
    font: size 14px;
    margin-right: 25px;
}

.imgA{
    width: 100%;
    height: 200px;
}
figure{
    margin: 0;
}

.flexContainer{
    display: flex;
    background-color: rgb(186, 186, 237);
    justify-content: space-between;
}

.divIzquierdo{
    width: 80%;
    background-color: red;
    height: 200px;
}

.divDerecho{
    width: 18%;
    background-color:blueviolet;
    height: 400px;

}

.divFondoIzquierdo{

}

.imagenTamaño{
    width: 100px;
    height: 100px;
}

.flexContainerDos{
    display: flex;
    justify-content: space-around;
    width: 50%;
    text-align: center;

}

.p{
    
    margin-left: 20px;
}

#flexContenedor{
    display: flex;
    flex-wrap: wrap;
}

#gridContenedor{
    display: grid;
    grid-template-columns: 30% 30% auto;
    /*column-gap: 20px;
    row-gap: 20px;*/
    gap: 20px;
    grid-template-rows: 100px 400px ;
}

div#flexContenedor > div {
    width: 400px;
    border: 1px solid red;
    margin-right: 20px;

}

div#gridContenedor  > div{
   
    border: 1px solid blue;
}
#gridArea{
    display: grid;
    grid-template-areas: 'encabezado encabezado encabezado aside'
    'encabezado intermedio intermedio aside'
    'encabezado encabezado encabezado aside';
}

#divUno{
    grid-area: encabezado;
    background-color: aqua;
}

#divDos{
    grid-area: intermedio;
    background-color: blueviolet;
}

#divTres{
    grid-area: aside;
    background-color: darkgoldenrod;
}




